# Variables d'environnement — infra-maps-api

# Prometheus
PROMETHEUS_URL=http://IP_SERVEUR:9090

# Kubernetes (optionnel)
K8S_IN_CLUSTER=false
K8S_KUBECONFIG=$HOME/.kube/config
K8S_ENABLED=false

# Docker (optionnel)
DOCKER_ENABLED=false
DOCKER_SOCKET=/var/run/docker.sock

# Loki (optionnel)
LOKI_URL=

# Sécurité
AUTH_ENABLED=false

# Serveur
PORT=8080
LOG_LEVEL=debug
